body {
background: #0A192F;
color: white;
font-family: 'Segoe UI', sans-serif;
scroll-behavior: smooth;
}

.section {
padding: 80px 0;
}

.dark-section {
background: #112240;
}

.custom-navbar {
background: rgba(10,25,47,0.9);
}

.nav-link {
color: #fff !important;
margin-left: 20px;
}

.hero-section {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(to right,#0A192F,#112240);
}

.custom-btn {
background: #00BFFF;
border: none;
}

.service-card {
background: #112240;
padding: 30px;
border-radius: 15px;
transition: 0.3s;
}

.service-card:hover {
transform: translateY(-10px);
box-shadow: 0 0 20px #00BFFF;
}

.portfolio-card {
background: #112240;
padding: 30px;
border-radius: 15px;
}

.team-card img {
width: 120px;
height: 120px;
border-radius: 50%;
margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
width: 100%;
margin-bottom: 15px;
padding: 10px;
border-radius: 10px;
border: none;
}

.footer {
background: #0A192F;
padding: 30px;
}
