body{
background:#0f172a;
color:#fff;
font-family:Segoe UI;
scroll-behavior:smooth;
}

.section{
padding:100px 0;
}

.dark-section{
background:#1e293b;
}

.custom-navbar{
background:rgba(15,23,42,0.8);
backdrop-filter:blur(10px);
}

.nav-link{
color:#fff !important;
margin-left:20px;
}

.hero-section{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:linear-gradient(135deg,#0f172a,#1e293b);
}

.gradient-text{
background:linear-gradient(90deg,#3b82f6,#06b6d4);
-webkit-background-clip:text;
color:transparent;
font-weight:700;
}

.custom-btn{
background:linear-gradient(90deg,#3b82f6,#06b6d4);
border:none;
padding:10px 25px;
border-radius:30px;
}

.service-card, .portfolio-card{
background:#1e293b;
padding:40px;
border-radius:20px;
transition:.4s;
}

.service-card:hover, .portfolio-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #3b82f6;
}

.contact-form input,
.contact-form textarea{
width:100%;
margin-bottom:15px;
padding:12px;
border-radius:12px;
border:none;
}

.footer{
padding:30px;
background:#0f172a;
}
